:root {
  --primaryBg: #f9f9f9;
  --secondaryBg: #fff;
  --primaryColor: #000;
  --secondaryColor: #fff;
  --primaryShadow: rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--primaryBg);
  color: var(--primaryColor);
}