:root {
  --primaryBg: #f9f9f9;
  --secondaryBg: #fff;
  --primaryColor: #000;
  --secondaryColor: #fff;
  --primaryShadow: rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primaryBg);
  color: var(--primaryColor);
}